<div class="wordle-game-panel">
    
    <div class="wordle-game-left-panel">
        @if(this.viewModel.isInit){
            <div class="wordle-game-start">                
                <button id="configureButton" (click)="this.start()">Start</button>                
            </div>
        }
        @if(this.viewModel.isStarted){
            <div class="wordle-game-propose">
                <textarea id="proposeWordBox" type="text" [(ngModel)]="proposeWord"></textarea>
                @if(this.viewModel.lengthOfWord ==this.proposeWord.length){ 
                    <button id="proposeButton" (click)="this.propose()" >Propose</button>
                }                 
            </div>
        }
        @if(this.viewModel.isWin || this.viewModel.isLoose){
            <div class="wordle-game-end">               
                <div class="end-text">{{this.viewModel.isWin ? "WIN" : "LOOSE"}}</div>               
                <button id="restartButton" (click)="this.restart()">Restart</button>
            </div>
        }
    </div>
    
    <div class="wordle-game-right-panel">
        <div>
            @for( ligne of this.grille; track ligne){
                <div class="wordle-game-line"> <wordle-line [line]=ligne></wordle-line> </div>
            }
        </div>
    </div>
</div>