.wordle-game-line {
    display: block;
}

.wordle-game-panel {
    display: flex;
}

.wordle-game-left-panel {
    width: 15em;
    display: flex;
    height: 2em;
}
.wordle-game-start {
    display: flex;
}

.wordle-game-propose {
    display: flex;
}

.wordle-game-right-panel {
    display: block;
    padding-left: 4em;
}

.end-text{
    font-size: large;
}