<div class="wordle-game-panel">

    <div class="wordle-game-left-panel">
        @if(this.viewModel.isInit){
        <div class="wordle-game-start">
            <label for="configureWordBox" style="text-align: center; vertical-align: middle;">Mot à deviner</label>
            <textarea id="configureWordBox" type="text" [(ngModel)]="initWord"></textarea>
            @if(this.initWord.length>0){
            <button id="configureButton" (click)="this.start()" [disabled]="this.initWord.length==0">Start</button>
            }
        </div>
        }
        @if(this.viewModel.isStarted){
        <div class="wordle-game-propose">
            <textarea id="proposeWordBox" type="text" [(ngModel)]="proposeWord"></textarea>
            <!-- @if(this.initWord.length!=this.initWord.length){ -->
            <button id="startButton" (click)="this.propose()" [disabled]="this.initWord.length==0">Propose</button>
            <!-- } -->

        </div>
        }

    </div>

    <div class="wordle-game-right-panel">
        <div>
            @for( ligne of this.grille; track ligne){
            <div class="wordle-game-line"> <wordle-line [line]=ligne></wordle-line> </div>
            }
        </div>
    </div>
</div>