.wordle-game-line {
    display: block;
}

.wordle-game-panel {
    display: flex;
}

.wordle-game-left-panel {
    display: flex;
    height: 2em;
}

.wordle-game-propose {
    display: flex;
}

.wordle-game-right-panel {
    display: block;
    padding-left: 2em;
}